<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="font" href="../fonts/hk-grotesk/HKGrotesk-Light.otf">
    <title>Fashion</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="nav"> 
                <h1>FASHION</h1>
                <ul>
                    <li><a href="#home">Home</a></li> 
                    <li><a href="#">Recipe</a></li> 
                    <li><a href="#">Article</a></li> 
                    <li><a href="#">Contact</a></li> 
                    <li><a href="#">Purchase</a></li> 
                </ul>
            </div>
        </header>
        <section class="banner" style="background-image: url(../img/banner.png) ;">
            <img src="../img/banner.png" alt=""> 
            <div class="rectangle">
                <div>
                    <h4>Vehicle</h4>
                    <h2>One of Saturn's largest rings may be newer than anyone</h2>
                    <div>
                        <p class="date">June 6, 2019</p>
                        <p><span>By</span> Rickie Baroch</p>
                        <p>4 comments</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="article">
            <div class="article-main-container">
                <div class="article-container-post">  
                      <!-- article 1 -->
                    <div class="article-container-1">
                        <div class="acticle-item-1">
                            <img src="../img/tourism.png" alt="">
                            <h4>Tourism</h4>
                            <h3>One of Saturn's largest rings may be newer than anyone</h3>
                            <div>
                                <p>June 6, 2019</p>
                                <p><span>By</span> Rickie Baroch</p>
                            </div>
                        </div>
                        <div class="acticle-item-2">
                            <img src="../img/sport.png" alt="">
                            <h4>Sport</h4>
                            <h3>One of Saturn's largest rings may be newer than anyone</h3>
                            <div>
                                <p>June 6, 2019</p>
                                <p><span>By</span> Rickie Baroch</p>
                            </div>
                        </div>
                        <div class="acticle-item-3">
                            <img src="../img/fashion.png" alt="">
                            <h4>Fashion</h4>
                            <h3>One of Saturn's largest rings may be newer than anyone</h3>
                            <div>
                                <p>June 6, 2019</p>
                                <p><span>By</span> Rickie Baroch</p>
                            </div>
                        </div>
                        <div class="acticle-item-4">
                            <img src="../img/clothes.png" alt="">
                            <h4>Clothes</h4>
                            <h3>One of Saturn's largest rings may be newer than anyone</h3>
                            <div>
                                <p>June 6, 2019</p>
                                <p><span>By</span> Rickie Baroch</p>
                            </div>
                        </div>
                        <div class="acticle-item-5">
                            <img src="../img/clothes2.png" alt="">
                            <h4>Clothes</h4>
                            <h3>One of Saturn's largest rings may be newer than anyone</h3>
                            <div>
                                <p>June 6, 2019</p>
                                <p><span>By</span> Rickie Baroch</p>
                            </div>
                        </div>
                        <div class="acticle-item-6">
                            <img src="../img/fashion2.png" alt="">
                            <h4>Fashion</h4>
                            <h3>One of Saturn's largest rings may be newer than anyone</h3>
                            <div>
                                <p>June 6, 2019</p>
                                <p><span>By</span> Rickie Baroch</p>
                            </div>
                        </div>
                    </div>
                    <!-- article 2 -->
                    <div class="article-container-2">
                        <div class="article-item-1">
                            <img src="../img/Bitmap.png" alt="">
                            <div>
                                <h4>Summer</h4>
                                <h3>One of Saturn's largest rings may be newer than anyone</h3>
                                <p>June 6, 2019</p>
                                <p><span>By</span> Rickie Baroch</p>
                                <p>6 comments</p>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem</p>
                            </div>
                        </div>
                    </div>
                    <!-- article 3 -->
                    <div class="article-container-3">
                        <div class="acticle-item-1">
                            <img src="../img/autumn.png" alt="girl in autumn suit">
                            <h4>Autumn</h4>
                            <h3>One of Saturn's largest rings may be newer than anyone</h3>
                            <div>
                                <p>June 6, 2019</p>
                                <p><span>By</span> Rickie Baroch</p>
                            </div>
                        </div>
                        <div class="acticle-item-2">
                            <img src="../img/clothes3.png" alt="lady in fashion clothes">
                            <h4>Clothes</h4>
                            <h3>One of Saturn's largest rings may be newer than anyone</h3>
                            <div>
                                <p>June 6, 2019</p>
                                <p><span>By</span> Rickie Baroch</p>
                            </div>
                        </div>
                        <div class="acticle-item-3">
                            <img src="../img/summer.png" alt="lady in summer suit">
                            <h4>Summer</h4>
                            <h3>One of Saturn's largest rings may be newer than anyone</h3>
                            <div>
                                <p>June 6, 2019</p>
                                <p><span>By</span> Rickie Baroch</p>
                            </div>
                        </div>
                        <div class="acticle-item-4">
                            <img src="../img/summer2.png" alt="lady in summer suit">
                            <h4>Summer</h4>
                            <h3>One of Saturn's largest rings may be newer than anyone</h3>
                            <div>
                                <p>June 6, 2019</p>
                                <p><span>By</span> Rickie Baroch</p>
                            </div>
                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="pagination">
                        <div class="pagination-container">
                            <ul>  
                                <li><a href="http://">&lt; Older Post</a></li>  
                                <li><a href="http://">1</a></li>
                                <li><a href="http://">2</a></li>
                                <li><a href="http://">3</a></li>
                                <li><a href="http://">...</a></li>
                                <li><a href="http://">8</a></li>
                                <li><a href="http://">Next Post &gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- sidebar container -->
                <div class="article-sidebar">
                    <div class="sbar-wrapper"> 
                        <div class="author"> 
                            <h2>About Author</h2>
                            <div>
                                <img src="../img/Bitmap-2.png" alt="">
                                <h2>Kate Willems </h2>
                                <h3>Food & cooking bloger</h3>
                                <p>Hi, I'm Sonia. Cooking is the way I express my creative side to the world. Welcome to my Kitchen Corner on…</p>
                                <a href="#">Continue Reading</a>
                            </div>
                        </div>
                        <div class="feature-post">
                            <h2>Featured posts</h2>
                            <div class="featured-item"> 
                                <img src="../img/jeans.png" alt="">
                                <h4>Jeans </h4>
                                <p>One of Saturn’s largest rings may be newer than anyone</p> 
                                <p>June 6, 2019</p>
                                <p><span>By</span> Rickie Baroch</p>
                            </div>
                            <div class="featured-item"> 
                                <img src="../img/city.png" alt="">
                                <h4>City </h4>
                                <p>One of Saturn’s largest rings may be newer than anyone</p> 
                                <p>June 6, 2019</p>
                                <p><span>By</span> Rickie Baroch</p>
                            </div>
                            <div class="featured-item"> 
                                <img src="../img/photography.png" alt="girl posing">
                                <h4>Photography </h4>
                                <p>One of Saturn’s largest rings may be newer than anyone</p>
                                <p>June 6, 2019</p>
                                <p><span>By</span> Rickie Baroch</p>
                            </div>
                        </div>
                        <div class="category">
                            <h2>Categories</h2>
                            <div class="categories">
                                <ul>
                                    <li>Fashion <a href="http://">(23)</a> </li>
                                    <li>Style and Clothes <a href="http://">(7)</a> </li>
                                    <li>Minimalism <a href="http://">(16)</a> </li>
                                    <li>Black and White <a href="http://">(5)</a> </li>
                                    <li>Modern Clothes <a href="http://">(12)</a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="social-media">
                            <h2>Social media</h2>
                            <div class="social-media-container">
                                <div class="fb">
                                    <img src="../img/fb-logo.png" alt="fb logo">
                                    <p>32k</p>
                                    <p>likes</p>
                                </div>
                                <div class="pinterest">
                                    <img src="../img/pinterest.png" alt="pinterest logo">
                                    <p>814</p>
                                    <p>followers</p>
                                </div>  
                                <div class="vimeo">
                                    <img src="../img/vimeo.png" alt="vimeo logo">
                                    <p>165</p>
                                    <p>followers</p>
                                </div>
                                <div class="dribbble">
                                    <img src="../img/dribbble.png" alt="dribbble logo">
                                    <p>6k</p>
                                    <p>followers</p>
                                </div>
                                <div class="twitter">
                                    <img src="../img/twitter.png" alt="twitter logo">
                                    <p>130k</p>
                                    <p>followers</p>
                                </div>
                                <div class="behance">
                                    <img src="../img/behance.png" alt="behance logo">
                                    <p>37k</p>
                                    <p>followers</p>
                                </div>
                                <div class="ig">
                                    <img src="../img/ig.png" alt="instagram logo">
                                    <p>854k</p>
                                    <p>followers</p>
                                </div>
                                <div class="youtube">
                                    <img src="../img/youtube.png" alt="youtube logo">
                                    <p>52k</p>
                                    <p>followers</p>
                                </div>
                                <div class="gmail">
                                    <img src="../img/gmail.png" alt="gmail logo">
                                    <p>642k</p>
                                    <p>followers</p>
                                </div>
                            </div>
                        </div>
                        <div class="tags">
                            <h2>Tags</h2>
                            <div class="tags-container">
                                <ul>
                                    <li><a href="">Business</a></li>
                                    <li><a href="">Freelance</a></li>
                                    <li><a href="">Money</a></li>
                                    <li><a href="">Experience</a></li>
                                    <li><a href="">Lifestyle</a></li>
                                    <li><a href="">SEO</a></li>
                                    <li><a href="">Wordpress</a></li>
                                    <li><a href="">Marketing</a></li>
                                    <li><a href="">UX</a></li>
                                    <li><a href="">Modern</a></li>
                                    <li><a href="">Success</a></li>
                                    <li><a href="">Nature</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>                     
                </div>
            </div> 
        </section>
        <section class="widget">
            <div class="widget-container">
                <h2>Follow our @instagram_name</h2>
                <div>
                    <img src="../img/widget-1.png" alt="">
                    <img src="../img/widget-2.png" alt="">
                    <img src="../img/widget-3.png" alt="">
                    <img src="../img/widget-4.png" alt="">
                    <img src="../img/widget-5.png" alt="">
                    <img src="../img/widget-6.png" alt="">
                </div>
            </div>
        </section>
        <section class="footer">
            <div class="footer-c">
                <h2>Fashion</h2>
                <div class="indexes">
                    <ul class="indexes">
                        <li><a href="#Home">Home</a></li>
                        <li><a href="#Recipe">Recipes</a></li>
                        <li><a href="#Article">Article</a></li>
                        <li><a href="#Contact">Contact</a></li>
                        <li><a href="#Purchase">Purchase</a></li>
                    </ul>
                    <ul class="social-m">
                        <li><a href="fb"><img src="../img/facebook-icon.svg" alt=""></a></li>
                        <li><a href="twitter"><img src="../img/twitter-icon.svg" alt=""></a></li>
                        <li><a href="Pinterest"><img src="../img/pinterest-icon.svg" alt=""></a></li>
                        <li><a href="gmail"><img src="../img/google-play-icon.svg" alt=""></a></li>
                        <li><a href="behance"><img src="../img/behance-icon.svg" alt=""></a></li>
                        <li><a href="instagram"><img src="../img/instagram-icon.svg" alt=""></a></li>
                    </ul>
                </div>
                <p>@2019 Logwork. All Right Reserved.</p>
            </div>
        </section>
    </div>
</body>
</html>